.main {
    display: flex;
    margin: 0%;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    /* position: relative; */

}

.div1 {
    margin: 5%;
    display: flex;
    flex-direction: column;
    /* height: 70vh; */
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 5;
    margin-top: 3px;
}

.div1 p {
    margin-top: 10px;
}

.div1 .btn {
    padding: 10px;
    color: black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.heading {
    margin: 0 auto;
    margin-top: 3px;
    font-weight: bold;
}

.div2 {
    /* position: absolute; */
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(30, 29, 29, 0.1);
    opacity: 0.5;
    overflow-y: hidden!important;
    width: 50vw;
    cursor: pointer;
    transform: skew(0deg, 25deg);
    height: 55vh;
    position: relative;
    top: 0;

    right: 0%;
}


.form {
    /* height: 30px; */
    overflow-y: hidden!important;
    right: 0%;
    border-radius: 2px solid gray;
    background-color: rgb(125, 243, 243);

}

.div2:hover {
    opacity: 1;
}
.div3{
    width: 100%;
    
    display: flex;
    flex-direction: row;
}
.cards{
    width: 19vw;
    border: 1px solid gray;
    margin-left: 6px;
}
.outerdiv {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: aqua; */
}

.innerdiv {
    margin: 70px;
    margin-top: 50px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
background-color: darkgray;
    height: 80vh;
}

.outerdiv::before,
.outerdiv::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 50%;
}

.outerdiv::before {
    top: 0;
    left: 0;
}

.outerdiv::after {
    bottom: 0;
    right: 0;
}
.sidebar {
    width: 250px;
    /* height: 100vh; */
    background-color: #333;
    color: #fff;
    /* transition: all 0.3s ease; */
    /* position: fixed; */
    /* left: 10px; */
    z-index: 1;
  }
  
  .sidebar.open {
    /* left: 0; */
  }
  
  .toggle-button {
    /* background-color: transparent; */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    /* border-bottom: 1px solid #555; */
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .sidebar {
      width: 150px;
    }
  }
  